<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a (click)="clickTonavigate('home')">Home</a>
  <a (click)="clickTonavigate('profile')">My Profile</a>
  <a *ngIf="isAdmin" (click)="clickTonavigate('added-items')">Items</a>
  <a  *ngIf="isAdmin"  (click)="clickTonavigate('notification')">Notification <span *ngIf="notification" class="badge badge-pill badge-danger">New</span> </a>
  <a (click)="logout()">Logout</a>
</div>
<span  style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;<span *ngIf="notification && !isSliderOpen && isAdmin" class="badge badge-pill badge-danger">1</span></span>
