.title {
    padding: 5% 0 25px;
    margin: auto;
    width: 360px;
    color: #FFFFFF;
    text-align: center;
}

.items {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  h3 {
      margin: 0 auto;
  }

  .image {
      width: 200px;
      height: auto;
  }

  .productImage {
      width: 100px;
      height: auto;
  }